[report]
exclude_lines =
    pragma: no cover

    # Abstract methods need not be tested.
    raise NotImplementedError

[run]
# TODO (abiro) models are WIP, enable coverage once done
omit =
    app/common/models*
